node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.npmrc.publish
.npmrc

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


.prettier*
bun.lock

# Playwright
/test-results
/playwright-report
